{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Category index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>EId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in pagination %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.title }}</td>
                <td>{{ category.eId }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}">show</a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	{{ knp_pagination_render(pagination) }}

	<ul>
		<li>
			<a href="{{ path('product_new') }}">Create new Product</a>
		</li>
		<li>
			<a href="{{ path('product_index') }}">List of Products</a>
		</li>
		<li>
			<a href="{{ path('category_new') }}">Create new Category</a>
		</li>
	</ul>
{% endblock %}
