{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
	<caption>
		<h1>Manage products ({{ pagination.getTotalItemCount }})</h1>
	</caption>
        <thead>
		<tr>
			<th>Id</th>
			<th>Title</th>
			<th>EId</th>
			<th>Price</th>
			<th>actions</th>
		</tr>
        </thead>
        <tbody>
	{% for product in pagination %}
		<tr>
			<td>{{ product.id }}</td>
			<td>{{ product.title }}</td>
			<td>{{ product.eId }}</td>
			<td>{{ product.price }}</td>
			<td>
				<a href="{{ path('product_show', {'id': product.id}) }}">show</a>
				<a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
			</td>
		</tr>
	{% else %}
		<tr>
			<td colspan="5">no records found</td>
		</tr>
	{% endfor %}
        </tbody>
    </table>
	{{ knp_pagination_render(pagination) }}

    <a href="{{ path('product_new') }}">Create new</a>
{% endblock %}
